/*Common CSS*/
body{ word-spacing:-1px; color:#545e72; font-size:18px; font-family: 'ProximaNova-Regular'; line-height:24px;}
a:focus, a:hover{ outline:0; text-decoration:none;}
ol, ul{ padding:0;}
li{list-style:outside;}
img{ max-width:100%;}
p{ margin-bottom:26px}

/*Container*/
.container-fluid{ width:100%; max-width:1130px;}
/* Home Header*/
.home #header{ background:#2f333e;}
/*Header*/
#header{ background:#1a1a1a;/*  margin:0 0 92px; */}

/*Banner*/
*.banner{ text-align:center; color:#fff; padding:16px 0 20px; min-height:80px; background:#1a1a1a; position:relative;}
.banner h1{ color:#fff; font-size:36px; margin:0 0 17px;}
.banner h3{ color:#fff; font-size:24px; margin:0;}


/*H1*/
h1{ color:#616a7d; font-size:38px; line-height:42px; margin:0px 0 15px; text-align:center;}

/*H1*/
h2{ color:#616a7d; font-size:36px; line-height:36px; margin:0px 0 20px;}
/*H3*/
h3{ color:#616a7d; font-size:24px; line-height:24px; margin:0 0 26px;}

.gray-bg{ background:#f5f5f5; padding:91px 0 71px;}
label {
  font-size: 14px;
  margin-bottom: 4px;
  text-transform: uppercase;
  line-height: 24px;
  display: block;
}

.input-text {
  display: block;
  width: 100%;
  text-indent: 2%
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  color: #545e72;
  padding: 0 10px;
  border: 0;
}

.submit-button{ font-size:16px; color:#fff; background:#0b8dce; padding:11px 19px; display:inline-block; border-radius:5px; border:0; margin:0; line-height:24px; font-weight:normal; height:auto; min-width:125px;}
.submit-button:hover{ background:#003399; color:#fff;}

hr {
  border-top: 1px solid #ddd;
}
