/*Common CSS*/

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-RegularIt.otf')  format('opentype'),
	     url('../fonts/ProximaNova-RegularIt.woff') format('woff'), url('../fonts/ProximaNova-RegularIt.ttf')  format('truetype'), url('../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Light.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf')  format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{ word-spacing:-1px; color:#545e72; font-size:18px; font-family: 'ProximaNova-Regular'; line-height:24px;}
a:focus, a:hover{ outline:0; text-decoration:none;}
ol, ul{ padding:0;}
li{list-style:outside;}
img{ max-width:100%;}
p{ margin-bottom:26px}
.home .navbar-inverse .navbar-nav > li > a, .newsletter-form .email-text, .newsletter-form label, .banner h3, h5{ font-family: 'ProximaNova-Regular';}
.navbar-inverse .navbar-nav > li > a, h3, .learn-more, .footer-top, #footer #mc_embed_signup .button, .submit-btn, .three-colum .user-name, .hiring-link a, h4, h6, .subscription-form label{ font-family: 'ProximaNova-Bold';}
.home-banner h1, .out-btn, .banner h1, .contact-btn, .mission-con h3, .post-right{ font-family: 'ProximaNova-Semibold';}
.user-job, em{ font-family: 'ProximaNova-RegularIt';}

.hiring-link ul:after, .tabs-con ul:after{font-size:0px; line-height:0px; height:0px; content:'.'; visibility:hidden; display:block; clear:both;}
/*End Comman CSS*/

/*Container*/
.container-fluid{ width:100%; max-width:1130px;}
/* Home Header*/
.home #header{ background:#2f333e;}
/*Header*/
#header{ background:#1a1a1a;/*  margin:0 0 92px; */}
.navbar-inverse{ background:none; padding:5px 0 22px; margin:0;}
.navbar-fixed-bottom, .navbar-fixed-top{ position:static; border:0;}

/*Login Block*/
.login-block{ text-align:right; margin:0 10px 6px 0;}
.login-block li{ display:inline-block; padding-left:12px;}
.login-block li.login-btn{ padding-right:12px; border-right:1px solid #fff; line-height:0.8;}
.login-block li.login-btn a{ background:url(../images/login-img.png) no-repeat left center; padding:0 0 0 19px;}
.login-block li a{ color:#0b8dce; font-size:14px; display:block;}
.login-block li.login-itm{ padding-right:12px; border-right:1px solid #fff; line-height:0.8;}
.login-block li a:hover{ color:#fff;}

/*Logo*/
.navbar-brand{ float:none; height:auto; margin:0!important; padding:15px 0 0; display:inline-block;}

/*Nav*/
.navbar-collapse{ padding:0px 10px 0 0!important;}
.navbar-inverse .navbar-nav > li > a{ color:#fff; font-size:16px; letter-spacing:1.1px;}
.navbar-inverse .navbar-nav > li > a:hover{ color:#0b8dce;}

/*Home Banner*/
.home-banner{ color:#fff; background:#2f333e; padding:20px 0 0}
.home-banner h1{ font-size:46px; color:#fff; margin:0 0 14px; line-height:50px; text-align:left;}
.home-banner p{ margin:0 0 44px; line-height:22px; font-size:16px;}
.home-banner .left-block{ padding:55px 40px 0 34px;}
.img-right{ background:url(../images/right-png.png) no-repeat right bottom; padding:0 146px 52px 0; width:50%; text-align:right;}

/*Banner*/
.banner{ text-align:center; color:#fff; padding:46px 0 20px; min-height:250px; background:#1a1a1a; position:relative;}
.banner h1{ color:#fff; font-size:46px; margin:0 0 17px;}
.banner h3{ color:#fff; font-size:24px; margin:0;}

/*Out Btn*/
.out-btn{ font-size:18px; color:#fff; background:#0b8dce; padding:21px 31px; display:inline-block; border-radius:5px;}
.out-btn:hover{ background:#ed1c24; color:#fff;}

/*H1*/
h1{ color:#616a7d; font-size:38px; line-height:50px; margin:0px 0 15px; text-align:center;}

/*H1*/
h2{ color:#616a7d; font-size:36px; line-height:42px; margin:0px 0 20px;}
/*H3*/
h3{ color:#616a7d; font-size:24px; line-height:24px; margin:0 0 26px;}

.gray-bg{ background:#f5f5f5; padding:91px 0 71px;}
label {
  font-size: 14px;
  margin-bottom: 4px;
  text-transform: uppercase;
  line-height: 24px;
  display: block;
  font-family: 'ProximaNova-Bold';
}

.input-text {
  display: block;
  width: 100%;
  text-indent: 2%
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  color: #545e72;
  padding: 0 10px;
  border: 0;
}

.submit-button{ font-size:18px; color:#fff; background:#0b8dce; padding:21px 29px; display:inline-block; border-radius:5px; border:0; margin:0; line-height:24px; font-weight:normal; height:auto; min-width:175px;}
.submit-button:hover{ background:#ed1c24; color:#fff;}

hr {
  border-top: 1px solid #ddd;
}
